server/n8n/workflow-send-request.json
{
  "name": "Send request emails (webhook -> confirmation + notify team)",
  "nodes": [
    {
      "parameters": {
        "path": "receive-request",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-node-id",
      "name": "Receive Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "receive-request"
    },
    {
      "parameters": {
        "fromEmail": "felix.fs3d@gmail.com",
        "toEmail": "={{$json.body.email}}",
        "subject": "Confirmación: hemos recibido tu solicitud",
        "html": "=<p>Hola {{$json.body.name}},</p><p>Hemos recibido tu solicitud:</p><p>Descripción: {{$json.body.description}}</p><p>Nos pondremos en contacto pronto.</p><p>Saludos,<br/>Equipo Uixom</p>",
        "options": {}
      },
      "id": "email-confirmation-node-id",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [600, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "fromEmail": "felix.fs3d@gmail.com",
        "toEmail": "felix.fs3d@gmail.com",
        "subject": "=Nueva solicitud recibida: {{$json.body.name}}",
        "html": "=<p><strong>Nueva solicitud recibida:</strong></p><p>Nombre: {{$json.body.name}}<br/>Teléfono: {{$json.body.phone}}<br/>Email: {{$json.body.email}}<br/>Descripción: {{$json.body.description}}</p><p>Revisa el panel de administración para detalles.</p>",
        "options": {}
      },
      "id": "email-team-node-id",
      "name": "Notify Team Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [600, 400],
      "credentials": {}
    }
  ],
  "connections": {
    "Receive Request": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Team Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "uixom-backend"
  },
  "tags": []
}
